{{!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>

<body>
    <h1>Product List</h1>

    <ul>
        {{#each products}}
        <li>{{this.product.title}} - Price: ${{this.price}}</li>
        {{/each}}
    </ul>

    {{#if hasNextPage}}
    <a href="/?page={{nextPage}}&limit={{limit}}">Next Page</a>
    {{/if}}
</body>

</html> --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>

<body>
    <h1>Product List</h1>

    <ul>
        {{#each products}}
        <li>{{this.title}} - Price: ${{this.price}}</li>
        {{/each}}
    </ul>

    {{#if hasNextPage}}
    <a href="/?page={{nextPage}}&limit={{limit}}">Next Page</a>
    {{/if}}
</body>

</html>